<div class="container">
    <ul class="pagination">
        <li class="page-item">
            @for (int i = 1; i <= (int)ViewData["Paginas"]; i++)
            {
                <a class="page-link" href="?page=@i">@i</a>
            }
        </li>
    </ul>
</div>